<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Reuben's Assignments</title>
    <head>
    <body>
    <p><a href="/"> Back To Home</a></p>
    <p><b>Homework 1-A</b></p>
    <p>this homework includes the pseudo code for a decimal to binary program,
    as well as the pseudo code for a program which calculates the amount of 
    years it will take for a bank account to be depleted, factoring in monthly 
    compounded interest and expenses. There are also some exercises for 
    practicing sign binary, one/two's compliment, binary addition, and Boolean 
    logic.</p>
    <p><b>Homework 1-B</b></p>
    <p>This assignment has two parts. Part one (HW1.1.py) prompts the user for 
    their name, then repeats it back to them in a sentence, as well as one letter 
    at a time. This program also determines if a users name has an even or odd 
    amount of letters. Part two (HW1.2.py) performs a number of modifications 
    to given lists.</p>
    <p><b>Homework 2-A</b></p>
    <p>In this homework we worked mostly with understanding sorting algorithms 
    and time complexities. In question 1 we wrote out the hypothetical steps for 
    a selection sort algorithm. In question 2 we worked through and determined 
    when sequential search was a preferable method to sorting+binary search. 
    In question 3 we determined the time complexity of a algorithm written in 
    pseudocode.</p>
    <p><b>Homework 2-B</b></p>
    <p>In this assignment a simulation was created to model the path of a projectile 
    with gravity that varies with altitude. A full trajectory was plotted and 
    compared against the trajectory of a projectile modeled with fixed gravity. 
    Additionally, another program was also created as the first step toward a 
    machine learning program. This program opens a csv file and stores the data 
    as a list of lists, some of the statistics regarding the data were also 
    saved in dictionaries.</p>
    <p><b>Homework 3-A</b></p>
    <p>In this homework we explored writing functions with sets, and the method 
    of using recursive functions. In question one we looked at how to work with 
    sets in python and explored what the time complexities of functions using 
    sets are. In question 2 we explored the method of using recursive functions, 
    in particular we used recursive methods to create functions which solved 
    exponential problems, produced all permutations of a list, and checked to 
    see if a string/list was a palindrome.</p>
    <p><b>Homework 3-B</b></p>
    <p>In this homework I worked on two different projects, one was a function 
    which modeled a fluid percolating through a grid, and another was part of 
    the semester long function. The percolation function works by first creating 
    a matrix of desired dimensions (NxN) which is then filled with open and 
    blocked positions (represented by 0 and 1) at a certain probability p. 
    This array is written to a text file which is then opened again and converted 
    back to an array to model the percolation. The percolation function itself 
    is recursive and worked by iterating flow down a column, checking to see in 
    neighboring blocks are filled, moving on if they are, and reclusively 
    calling itself into those blocks if they are open. The function can be 
    visualized through a plotting function, and a basic check of complete 
    percolation is made and stated. For the second project some simple functions 
    were written to strip, check/count, and move values in the list of lists 
    which was created from the .cvs dataset.</p>
    <p><b>Homework 4</b></p>
    <p>In this homework we built a function which simulated a class including 
    assignment of a teacher, registration of students, distribution and grading 
    of assignments, and payment of teacher. The statistics for this information 
    was ultimately complied and plotted. In these functions we practiced the 
    components of object-oriented programing by creating multiple classes and 
    attributes to be able to complete the goals of simulating the class.</p>
    <p><b>Homework 5</b></p>
    <p>In this homework we finished building a program which parsed a CSV containing 
    various data on benign and malignant tumors, gave the user some advanced statistics, 
    provided the user with some graphs, and ran a machine learning program which 
    predicted whether a tumor would be benign or malignant. To provide advanced 
    statics I utilized functionality from the pandas library which was pretty 
    plug and play. For skew and kurtosis a function from the library was used, 
    and for the mean and standard deviation of each column, a basic mean/standard 
    deviation function was applied to an entire data frame column, utilizing the 
    architecture of data frames. For plotting graphs, the architecture of data 
    frames, as well as the seaborn library, was used to easily produce a scatter 
    matrix and a heat map. Finally, three different methods were used to produce 
    machine learning programs. Two of these methods came from the scikit learn 
    library, those being the k-nearest neighbors and the Support Vector Machine. 
    The last method was a version of k-nearest neighbors which I implemented myself. 
    This was done by but iterating through a matrix of label-less values, computing 
    the distance to its nearest neighbors, and then setting its value to the mode of 
    its k nearest neighbors. In the end the real labels were re-attached to the 
    values and compared to the given values to check the accuracy of any three 
    of the machine learning algorithms.</p>
    <p><b>Midterm</b></p>
    <p>In this project we created a suite of effects which can be applied to .ppm 
    image files. The first of these effects is an object filter, which takes an 
    input of three .ppm image files and uses the mode value for each RGB channel 
    within each individual pixel to construct an output image which removes “unwanted” 
    objects (objects which only appear in one of the photos, like pesky sharks). 
    The second function is a gray scale function, which takes the average values 
    for each individual pixel’s RGB channels and constructs a grey scaled version 
    of the original image. The third function is a horizontal flipper, which flips 
    the pixel information across a horizontal bisection to produce and output image 
    which is horizontally flipped. All of these functions, in addition to some 
    helper functions (namely to read and write ppm files) were placed in a single .py 
    file called effects. A second .py function called effects tester, which imports 
    the effects from effects.py, was also written to provide an interface for a user.
    <p>
    <p><b>My Favorite Assignment</b></p>
    <p> My favorite assignment was probably the midterm. Although I appreciated
    having skeleton code to guide me with the assignments, having the opportunity
    to go through the whole process myself with the midterm was fun and rewarding.
    I also really liked how many of the objectives we were trying to accomplish
    involved using strategies we had been learning ealier, like reading from other files
    and various different list and array algorithms. Finally, I really liked how
    applicable the project was, image editing was something we have all experianced
    before and I was cool to be able to make my own image editor.</p>

