<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Reuben's Classes</title>
    <head>
    <body>
    <p><a href="/"> Back To Home</a></p>
    <h2>Reuben's Classes</h2>
    <table>
      <tr>
        <th>Class</th>
        <th>Instructor</th>
        <th>Time</th>
      </tr>
      <tr>
        <td>Multivariable Calculus for Engineers</td>
        <td>Drew Youngren</td>
        <td>8:40am-9:55am</td>
      </tr>
      <tr>
        <td>General Chemistry laboratory</td>
        <td>Sarah Hansen</td>
        <td>1:10pm-4:50pm</td>
      </tr>
      <tr>
        <td>Introduction to Computer Science for Engineers</td>
        <td>Timothy Paine</td>
        <td>5:40pm-6:55pm</td>
      </tr>
      <tr>
        <td>University Writing: Readings in Medical Humanites</td>
        <td>Christopher Williams</td>
        <td>4:10pm-5:25pm</td>
      </tr>
      <tr>
        <td>Physics II: Thermodynamics, Electricity And Magnetism</td>
        <td>Jeremy Dodd</td>
        <td>10:10am-11:25am</td>
      </tr>
         </table>
        <p><b>My Favorite Class</b></p>
        <p>My favorite Class this semester was probably Multivariable Calculus.
        Although the class was long and a big grueling, when I think back on how
        much I learned I am kind of amazed. The topics we covered were also very
        applicable to almost any other field, and I saw math in a completely different
        way. I of course have to give an honorable mention to python though,
        I have really enjoyed this class as well, both because what we are learning
        is super applicable, and because I legitimately found the assignments fun.
        </p>
        
        </body>
    </html>

