<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Reuben's Home</title>
    <head>
    <body>
    <p>Reuben Solnick</p>
    <p><img src="https://media-exp1.licdn.com/dms/image/C4D03AQHW6UviNXfn5g/profile-displayphoto-shrink_200_200/0?e=1594857600&v=beta&t=a5dcnHjEjgfBBXW570rQNCF-U2jf9cK7bf7-a4oKmmw" 
    alt="Reuben's photo" style="width:300px;height:300px">
    <p>Freshman</p>
    <p>Applied Math</p>
    <p><a href="/assignments"> Assignments Page</a></p>
    <p><a href="/classes">Classes Page</a></p>
    <p>My favorite website: <a href="https://bringatrailer.com/">Bring A Trailer.</a>
    This is a car auction website for classic cars, its pretty cool, check it out!</p>
    </body>
</html>

